<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>apidoc-login</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        *{
            margin:0px;
            padding:0px;
        }
        #container{
            width:500px;
            height:300px;
            margin:0 auto;
            margin-top:100px;
        }
        .text-center{
            text-align: center;
        }
        .login-froms{
            width:60%;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div id="container" class="well">
    <h2 class="text-center">开发调试平台</h2><hr/>
    <div class="login-froms">
        <form class="form-inline" action="/admin/login" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" style="width:250px;" placeholder="username">
                </div>
            </div>
            <br/><br/>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" style="width:250px;" placeholder="password">
                </div>
            </div>
            <br/><br/>
            <button class="btn btn-default" style="width:80px;margin-left:15px;" type="reset">重置</button>
            <button class="btn btn-default" style="width:80px;margin-left:87px;" type="submit">登录</button>
        </form>
    </div>
</div>

<script src="/highcharts/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>