<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tool-apidata</title>
    <link href="/tool/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        *{
            margin:0px;
            padding:0px;
        }
        #container{
            width:80%;
            margin:0 auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/tool/index">Tool</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/tool/apidoc">Api文档工具</a></li>  <!-- <li class="active"><a href="#">Link</a></li> -->
                <li><a href="/tool/apidata">实时抓包工具</a></li>
            </ul>
        </div>

    </div>
</nav>
<div id="container">

</div>

<script src="/tool/highcharts/jquery.min.js"></script>
<script src="/tool/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>