<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apidoc-index</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        *{
            margin:0px;
            padding:0px;
        }
        #container{
            width:80%;
            margin:0 auto;
            margin-top:90px;
        }
    </style>
</head>
<body>

<?php include(APPLICATION_PATH.'application/views/index/header.html');?>

<div id="container">

</div>

<script src="/highcharts/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/highcharts/highcharts.js"></script>
<script src="/highcharts/treemap.js"></script>

<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            series: [{
                type: "treemap",
                layoutAlgorithm: 'stripes',
                alternateStartingDirection: true,
                levels: [{
                    level: 1,
                    layoutAlgorithm: 'sliceAndDice',
                    dataLabels: {
                        enabled: true,
                        align: 'left',
                        verticalAlign: 'top',
                        style: {
                            fontSize: '15px',
                            fontWeight: 'bold'
                        }
                    }
                }],
                data: [
                    {
                        id: 'A',
                        name: 'nginx',
                        color: "#428bca"
                    },
                    {
                        id: 'B',
                        name: 'php',
                        color: "#5cb85c"
                    },
                    {
                        id: 'C',
                        name: 'mysql',
                        color: '#5bc0de'
                    },
                    {
                        id: 'D',
                        name: 'mongo',
                        color: '#EC9800'
                    },
                    {
                        id: 'E',
                        name: 'redis',
                        color: '#d9534f'
                    },
                    {
                        id: 'F',
                        name: 'node',
                        color: '#EC9800'
                    },
                    {
                        name: '/usr/local/nginx/',
                        parent: 'A',
                        value: 3
                    },
                    {
                        name: 'api.goyotime.com',
                        parent: 'A',
                        value: 2
                    },
                    {
                        name: 'open.goyotime.com',
                        parent: 'A',
                        value: 2
                    },
                    {
                        name: 'tool.goyotime.com',
                        parent: 'A',
                        value: 2
                    },
                    {
                        name: 'www.goyotime.com',
                        parent: 'A',
                        value: 2
                    },
                    {
                        name: '/usr/local/php5/',
                        parent: 'B',
                        value: 4
                    },
                    {
                        name: '/usr/local/mysql/',
                        parent: 'C',
                        value: 5
                    },
                    {
                        name: '/usr/local/mongo/',
                        parent: 'D',
                        value: 3
                    },
                    {
                        name: '/usr/local/redis/',
                        parent: 'E',
                        value: 3
                    },
                    {
                        name: 'Node',
                        parent: 'F',
                        value: 2,
                        color: '#9EDE00'
                    }
                ]
            }],
            title: {
                text: 'mpress config'
            }
        });
    });
</script>

</body>
</html>